<!-- Include Partial View -->
@Html.Partial("_navigation")

<main role="main" id="main" class="main">
    <!-- Page Title -->
    <div class="pagetitle">
        <h1>Customer</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Customer</a></li>
                <li class="breadcrumb-item active">Add Customer</li>
            </ol>
        </nav>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCustomer">
            Add Customer
        </button>
    </div>

    <!-- Page Section -->
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <!-- Table with stripped rows -->
                        <table class="table table-bordered" id="tbl_Customer"></table>
                    </div>
                </div>

            </div>
        </div>
    </section>
    
    <!-- Add Customer Partial View -->
    @Html.Partial("_AddCustomer")

    <!-- Update Customer Partial View -->
    @Html.Partial("_UpdateCustomer")

    <!-- Add Customer Users Partial View -->
    @Html.Partial("_AddCustomerUsers")

    <!-- Add Notification Users Partial View -->
    @Html.Partial("_AddNotificationUsers")

    <script src="~/connectivity/Customer.js"></script>
</main>
