<!-- Include Partial View -->
@Html.Partial("_navigation")

<main role="main" id="main" class="main">
    <!-- Page Title -->
    <div class="pagetitle">
        <h1>Site</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Site</a></li>
                <li class="breadcrumb-item active">Add Site</li>
            </ol>
        </nav>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addSite">
            Add Site
        </button>
    </div>

    <!-- Page Section -->
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <!-- Table with stripped rows -->
                        <table class="table table-bordered" id="tbl_Site"></table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Add Customer Partial View -->
    @Html.Partial("_AddSite")

    <!-- Add Device Partial View -->
    @Html.Partial("_AddDevice")

    <!-- Add Service Partial View -->
    @Html.Partial("_AddService")

    <!-- Add Notification User Partial View -->
    @Html.Partial("_AddNotificationUsers")

    <!-- Add Customer Partial View -->
    @Html.Partial("_UpdateSite")

    <!-- Update Device Partial View -->
    @Html.Partial("_UpdateDevice")

    <!-- Update Service Partial View -->
    @Html.Partial("_UpdateService")

    <script src="~/connectivity/Site.js"></script>
</main>
